extends layouts/main
include mixins/videoPlayer

block content
    .video-detail_container
        +videoPlayer({
            src: `/${designatedVideo.fileUrl}`
        })
        .video_info
            if loggedUser && (designatedVideo.creator.id === loggedUser.id)
                a(href=routes.editVideo(designatedVideo.id))
                    button Edit Video
            h5.video_title=designatedVideo.title
            h7.video_views=designatedVideo.views        
            p.video_description=designatedVideo.description
            if designatedVideo.views === 1
                span.video_views 1 view
            else
                span.video_views= `${designatedVideo.views} views`
            .video_author
                |Uploaded by 
                a(href=routes.userDetail(designatedVideo.creator.id))=designatedVideo.creator.name
        .video_comments
            if designatedVideo.comment.length ===0
                span.video_comments_number No comment
            else if designatedVideo.comment.length ===1
                span.video_comments_number 1 comment
            else
                span.video_comments_number= `${designatedVideo.comment.length} comments`