extends layouts/main
include mixins/videoPlayer

block content
    .video-detail_container
        +videoPlayer({
            src: `/${designatedVideo.fileUrl}`
        })
        .video_info
            if loggedUser && (designatedVideo.creator.id === loggedUser.id)
                a(href=routes.editVideo(designatedVideo.id))
                    button Edit Video
            h5.video_title=designatedVideo.title
            p.video_description=designatedVideo.description
            if designatedVideo.views === 1
                span.video_views 1 view
            else
                span.video_views= `${designatedVideo.views} views`
            .video_author
                |Uploaded by 
                a(href=routes.userDetail(designatedVideo.creator.id))=designatedVideo.creator.name
        .video_comments
            if designatedVideo.comment.length ===0
                span.video_comments_number#jsCommentNumber 0
                |   comment
            else if designatedVideo.comment.length ===1
                span.video_comments_number#jsCommentNumber 1
                |   comment
            else
                span.video_comments_number#jsCommentNumber=designatedVideo.comment.length
                |   comments
                //- 이렇게 하면 .video_comments_number를 통해서 js가 숫자만 얻을 수 있다.
            if loggedUser
                div.userName#jsUserName=loggedUser.name    
                form.add_comment#jsAddComment
                    input(type="text", placeholder="Add a comment", name="comment")
                    button#commentBtn Submit
                    //- button을 form tag 내부에 두어야 클릭했을 때 submit이 된다.
            ul.video_comment-list#jsCommentList
                each comment in designatedVideo.comment.reverse()
                    li
                        span=`${comment.creator.name} : ${comment.text}`
                    if loggedUser && (comment.creator.id === loggedUser.id)
                        //- mongoDB에 저장되면서 할당받은 id를 의미한다.
                        button.delete_comment(id=comment.id) X